<div class="row">

	<div class="col-sm-6">

		<form novalidate [formGroup]="pokeForm" (ngSubmit)="getPokeInfo()">
			<div class="form-group">
				<label for="pokeNumber">Enter a pokemon #</label><br>
				<input formControlName="number" type="number" class="form-control" id="pokeNumber" placeholder="1 - 150">
			</div>

			<button type="submit" class="btn btn-default">I choose you!</button>
		</form>
		<br>
	</div>

	<div class="col-sm-6 text-center" >
		<app-alert></app-alert>
		
		<div *ngIf="pokemon !== null">
			<div>
				<h3>{{pokemon.name}}</h3>
			</div>
			<div>
				<img [src]="pokemon.sprite" class="img-rounded">
			</div>
		</div>

	</div>	

	<!-- <div class="col-sm-4">
		<pre>{{pokeForm.value | json}}</pre>
		<pre>valid =? {{pokeForm.valid | json}}</pre>
		<pre>number errors = {{pokeForm.get('number').errors | json}}</pre>
	</div> -->
</div>
